device/device-node-red-flow.json
[
  {
    "id": "f62bcfc.80e8a3",
    "type": "exec",
    "z": "b7f9a0ce.a74d8",
    "command": "/usr/bin/sudo node /home/pi/parkinglot/read-sensor-data.js",
    "addpay": false,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "GetMagneticData",
    "x": 442.89581298828125,
    "y": 268.8888854980469,
    "wires": [
      [
        "3f4339f.8c5b0c6"
      ],
      [],
      []
    ]
  },
  {
    "id": "824f0f45.91459",
    "type": "inject",
    "z": "b7f9a0ce.a74d8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "0.1",
    "crontab": "",
    "once": true,
    "x": 228.39581298828125,
    "y": 267.3888854980469,
    "wires": [
      [
        "f62bcfc.80e8a3"
      ]
    ]
  },
  {
    "id": "3f4339f.8c5b0c6",
    "type": "function",
    "z": "b7f9a0ce.a74d8",
    "name": "SetData",
    "func": "var v = JSON.parse(msg.payload);\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 699.3957977294922,
    "y": 258.3888854980469,
    "wires": [
      [
        "deef4d47.588a7"
      ]
    ]
  },
  {
    "id": "deef4d47.588a7",
    "type": "wiotp out",
    "z": "b7f9a0ce.a74d8",
    "authType": "d",
    "qs": "false",
    "qsDeviceId": "",
    "deviceKey": "",
    "deviceType": "",
    "deviceId": "",
    "event": "Device Event",
    "format": "json",
    "name": "",
    "x": 968.3958587646484,
    "y": 255.38894653320312,
    "wires": []
  },
  {
    "id": "59fbe903.34c518",
    "type": "comment",
    "z": "b7f9a0ce.a74d8",
    "name": "Get Magnetic data",
    "info": "",
    "x": 239.8958282470703,
    "y": 186.88888549804688,
    "wires": []
  },
  {
    "id": "7cea5e78.1117e",
    "type": "wiotp in",
    "z": "b7f9a0ce.a74d8",
    "authType": "d",
    "deviceKey": "",
    "deviceType": "",
    "deviceId": "",
    "command": "+",
    "commandType": "g",
    "name": "cmd receiver",
    "x": 200.8958282470703,
    "y": 586.888916015625,
    "wires": [
      [
        "f9ec7199.9f6df"
      ]
    ]
  },
  {
    "id": "282ea12c.0022fe",
    "type": "comment",
    "z": "b7f9a0ce.a74d8",
    "name": "Recieve command from WIoT",
    "info": "",
    "x": 252.8958282470703,
    "y": 507.888916015625,
    "wires": []
  },
  {
    "id": "f9ec7199.9f6df",
    "type": "switch",
    "z": "b7f9a0ce.a74d8",
    "name": "",
    "property": "payload.occ",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "outputs": 2,
    "x": 515.3957977294922,
    "y": 586.8889465332031,
    "wires": [
      [
        "2b200bb1.9032d4"
      ],
      [
        "9a289ad2.94a318"
      ]
    ]
  },
  {
    "id": "2b200bb1.9032d4",
    "type": "exec",
    "z": "b7f9a0ce.a74d8",
    "command": "sudo node  /home/pi/parkinglot/light-on.js",
    "addpay": true,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "LED on",
    "x": 843.3957366943359,
    "y": 545.3889465332031,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "9a289ad2.94a318",
    "type": "exec",
    "z": "b7f9a0ce.a74d8",
    "command": "sudo node  /home/pi/parkinglot/light-off.js",
    "addpay": true,
    "append": "",
    "useSpawn": "",
    "timer": "",
    "name": "LED off",
    "x": 839.3957672119141,
    "y": 635.3889083862305,
    "wires": [
      [],
      [],
      []
    ]
  }
]